.course-section {
  /* background-color: #f2f2f2; */
  padding: 50px 0;
}

/* Style for the search input */
.search-bar {
  width: 50%;
  margin-left: 25%;
  padding: 15px;
  border: none;
  font-size: 18px;
  color: #333;
  outline: none;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  margin-top: -30px;
}

.course-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
}

.no-courses-message {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #666;
  margin-top: 20px;
}

.course-card {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.course-section-even {
  flex-direction: row;
}

.course-section-odd {
  flex-direction: row-reverse;
  margin-left: auto;
}

.course-image {
  flex: 1;
  margin: 0 20px;
  text-align: center;
}

.course-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.course-details {
  flex: 1;
}

.course-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.course-description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
}

.course-button {
  display: inline-block;
  background-color: rgb(229, 225, 225);
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.course-details a {
  text-decoration: none;
}

.course-button:hover {
  background-color: rgb(80, 80, 186);
  cursor: pointer;
}
