.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 100vh;
}

.login-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  margin: 20px;
}

.login-container {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
}

.error-message {
  text-align: left;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.success-message {
  text-align: left;
  color: green;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 106%;
}

.login-button:hover {
  background-color: rgb(80, 80, 186);
}

.login-img {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-img img {
  max-width: 100%;
  max-height: 80%;
  width: auto;
  height: auto;
}