/* Newsletter section styles */
.newsletter {
    background-color: #929eab;
    color: #333;
    text-align: center;
    padding: 60px 100px;
}

.newsletter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.newsletter-message {
    flex: 0 0 calc(50% - 10px);
    text-align: left;
    margin-right: 20px;
}

.newsletter-form {
    flex: 0 0 calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-input {
    margin-right: 5px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
    background-color: #fff;
    color: #333;
    outline: none;
}

.newsletter-input::placeholder {
    color: #ccc;
}

.newsletter-input:focus {
    border-color: #0056b3;
}

.newsletter-input::placeholder {
    color: #ccc;
}

.newsletter-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: transparent;
    cursor: pointer;
    color: black;
    font-size: 18px;
    border: 2px solid black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.newsletter-button:hover {
    background-color: rgb(80, 80, 186);
    cursor: pointer;
    text-decoration: none;
}

.newsletter-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.newsletter-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.message.error {
    color: red;
}

.message.success {
    color: green; /* Change the color to green for success messages */
  }