.About-section {
    padding: 70px 0;
    background-color: #f2f2f2;
}

.About-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.About-text {
    width: 50%;
    text-align: justify; 
}

.About-text h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.About-text p {
    font-size: 18px;
    color: #777; 
    line-height: 1.5;
    margin-bottom: 20px;
}

.About-image img {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}