.single-course {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.sidebar {
  width: 250px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  height: 80vh;
  position: sticky;
  top: 0;
}


.content-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content-list li {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s ease;
}

.content-list li:hover {
  background-color: #dcdcdc;
}

.content-list ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 20px;
}

.content-list ul li {
  padding: 5px;
  color: #666;
  transition: background-color 0.3s ease;
}

.content-list ul li:hover {
  background-color: #f2f2f2;
}

.content-list li.active,
.content-list li.active:hover {
  background-color: #e0e0e0;
}

.content {
  flex-grow: 1;
  margin-left: 20px;
}

.content-title {
  text-align: center;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 50%;
  padding-bottom: 40%;
  overflow: hidden;
  background-color: #000;
  border-radius: 5px;
  margin: 0 auto; /* Center the container horizontally */

}


.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .single-course {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .content {
    margin-left: 0;
  }
}
